@font-face {
    font-family: Neue;
    src: url(../font/NeueMachina-Regular.otf);
}

@font-face{
  font-family: NeueL;
  src: url(../font/NeueMachina-Light.otf);
}

@font-face{
  font-family: NeueB;
  src: url(../font/NeueMachina-Ultrabold.otf);
}


.overlayy {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: url(../imgg/blur50.png)
}


.slide-grid {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

p {
    font-family: NeueL, Courier, monospace;
}

.bold {
    font-family: NeueB, Courier, monospace;
}

.h1 > b{
    font-family: NeueB, Courier, monospace;
}

.boldHeading {
    font-family: NeueB, Courier, monospace;
    font-size: 5.2rem;
    margin-bottom: 10px;
}

.overlay-new {
    position: fixed;
    pointer-events: none;
    z-index: 3;
    bottom: 0;
    width: 100vw;
    height: 30vh;
    background: linear-gradient(0deg, #000000b2 0%, rgba(0, 0, 0, 0) 80%);
}

.landing {
    position: relative;
    text-align: center;
    align-self: center;
}

.landing>h1 {
    font-family: NeueB, Courier, monospace;
    font-size: 5.2rem;
    margin: 0;
    margin-bottom: 10px;
}

.landing>p {
    font-size: 1.3rem;
}

.yeah {
    position: relative;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.top-nav {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    width: 100vw;
    grid-template-columns: 50% 50%;
    padding: 30px 6vw;
    align-items: center;
    font-size: 1.2rem;
    z-index: 10;
    color: white;
}

.top-nav.show-center {
    grid-template-columns: 30% 40% 30%;
}


.top-nav>.left {
    justify-self: left;
}

.top-nav>.center {
    opacity: 0;
    display: none;
    justify-self: center;
    text-align: center;
}

.top-nav>.center>h1 {
    font-size: 2.1rem;
    margin: 0;
    margin-bottom: 5px
}

.top-nav>.center>p {
    font-size: 0.5rem;
    margin: 0;
}

.top-nav>.left>button {
    border: none;
    background: transparent;
    color: white;
    font-weight: 800;
    font-family: NeueB, Courier, monospace;
    margin-right: 20px;
    font-size: 1rem;
}

.top-nav>.right {
    justify-self: right;
}

.top-nav>.right>img {
    margin-right: 25px;

}

.explore {
    margin: 20px auto;
    width: max-content;
    padding: 15px 50px;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    font-family: Neue, Courier, monospace;
    pointer-events: all;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 24px 4px rgba(255, 198, 239, 0.25);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 10px;
}

.liner {
    position: relative;
    height: 100%;
    width: 0.1px;
    background-color: white;
    opacity: 0.5;
    /* border: 0.1px solid #FFFFFF; */
    box-shadow: 0px 0px 3px #CDF0FF;
}

.middle-line {
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    opacity: 0.25;
    width: 0.1px;
    border: none;
    box-shadow: none;
}

.block {
    position: absolute;
    height: 90px;
    width: 0.1px;
    background-color: #fff;
    box-shadow:
        0 0 0px 1px #fff,
        /* inner white */
        0 0 20px 4px #fff,
        /* middle magenta */
        0 0 140px 50px #CDF0FF;

        /* box-shadow: 0px 0px 8px #CDF0FF; */
    /* outer cyan */
    left: 0px;
}

.left-block {
    top: 5%;
}

.right-block {
    top: 15%;
}

.left-line {
    justify-self: right;
}

.right-line {
    justify-self: left;
}

.content-container {
    position: relative;
    display: block;
}

section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    /* opacity: 0.2; */
    font-family: Neue, Courier, monospace;
}

.yeah h1 {
    font-size: 2.75rem;
    line-height: 3rem;
    margin: 0;
}

.yeah p {
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 2.1rem;
}

.grey {
    font-family: NeueB, Courier, monospace;
    color: #FFFFFF;
    opacity: 0.6;
}

.intro {
    position: relative;
    padding: 120px 15vw 80px 15vw;
    display: grid;
    grid-template-areas: 'a';
    place-items: center;
    justify-items: center;
    height: 90vh;
}

.intro>.middle {
    grid-area: a;
    position: relative;
    align-self: center;
    text-align: center;
}

.intro>.left {
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: translateX(-55%);
}

.intro>.right {
    position: absolute;
    right: 0;
    top: 10px;
    transform: translateX(60%);
    z-index: 1;
}

section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

.vr > div {
    max-height: max-content;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

.vr>div>div:nth-of-type(1) > img{
    width: 202px;
}

.vr>div>div:nth-of-type(2) {
    display: block;
    width: 90%;
    margin: auto;
    padding: 70px 0;
    text-align: center;
    line-height: 3rem;
}

section:nth-of-type(2)>div>h1:nth-of-type(2) {
    line-height: 4rem;
    font-family: NeueB, Courier, monospace;
}

section:nth-of-type(2)>div>h1:nth-of-type(1) {
    margin-bottom: 10px;
}

section:nth-of-type(3)>h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.coin, .heart, .joys {
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: center;
    width: 90%;
    height: max-content;
    min-height: 70vh;
}

.heart {
    grid-template-columns: 30% 70%;
}

.heart > div:nth-of-type(2){
    text-align: right;
}

.roadmap {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    width: 100%;
    height: max-content;
    min-height: 80vh;
}

.roadmap > div, .roadmap > div > img{
    width: 100%;
}

.team {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    width: 90%;
    height: max-content;
    min-height: 80vh;
    padding: 80px 0 100px 0;
}

.team>.dudes {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    place-items: center;
}

.dudes>img {
    width: 100%;
}


@media (max-width: 800px) {
    :root {
        font-size: 13px;
    }

    .overlayy{
        height: calc(var(--vh, 1vh) * 100)
    }

    .slides{
        background: none;
    }

    .middle-line{
        opacity: 0.15;
    }

    .top-nav>.center>h1 {
        font-size: 1.7rem;
    }

    .top-nav>.center>p {
        font-size: 0.8rem;
    }

    .top-nav>.left>button {
        display: block;
        border: none;
        background: transparent;
        color: white;
        font-weight: 800;
        font-family: NeueB, Courier, monospace;
        margin-bottom: 10px;
        font-size: 0.9rem;
    }

    .top-nav>.right>img {
        margin-right: 10px;
        width: 20px
    }

    .landing>h1 {
        font-size: 4.2rem;
    }

    .slide-grid {
        min-height: calc(var(--vh, 1vh) * 100)
    }

    .yeah, .slide-grid {
        grid-template-columns: 2% 96% 2%;
    }

    .intro>.left, .intro>.right {
        position: relative;
        left: initial;
        bottom: initial;
        top: initial;
        transform: none;
        justify-self: center;
    }

    .intro>.left>img, .intro>.right>img {
        width: 70%;
        display: block;
        margin: 0 auto;
        mix-blend-mode: luminosity;
    }

    section {
        height: initial;
        /* min-height: 90vh; */
    }

    .intro>.left {
        grid-area: b;
    }

    .intro>.right {
        grid-area: c;
    }

    .intro>.middle {
        padding: 50px 10vw;
    }

    .intro {
        padding: 150px 0 0 0;
        margin-bottom: 60px;
        grid-template-areas: "a a""b c";
    }

    section:nth-of-type(2)>div:nth-of-type(2) {
        padding: 120px 5vw;
        padding-bottom: 50px;
    }

    .top-nav {
        padding: 20px 3vw;
    }

    .top-nav>.left>button {
        margin-right: 10px;
    }

    .coin, .heart, .joys {
        grid-template-columns: 100%;
        min-height: 80vh;
    }

    .heart>div:first-of-type {
        order: 2
    }

    .team>.dudes {
        grid-template-columns: 100%;
    }

}