.yeah{
    position: relative;
    height: 100%;
    width: 100vw;
    pointer-events: none !important;
}

section{
    position: relative;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    /* opacity: 0.2; */
    font-family: Neue, Courier, monospace;
    background: url('../images/blur.png');
}

.intro{
    position: relative;
    padding: 120px 5vw 80px 5vw;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    height: 100%;
    justify-items: center;
}

.intro > .middle{
    position: relative;
    align-self: center;
    line-height: 3rem;
}

.intro > .middle > h1{
    font-size: 2.5rem;
}

.intro > .middle > p{
    font-size: 1.2rem;
}

.intro > .left{
    align-self: flex-end;
}

.intro > .right{
    align-self: flex-start;
}

section:nth-of-type(2){
    
}

section:nth-of-type(2) > div{
    display: block;
    width: 40%;
    margin: auto;
    padding: 120px 0;
    text-align: center;
    line-height: 3rem;
}

section:nth-of-type(2) > div > h1{
    font-size: 2.5rem;
}


section:nth-of-type(2) > div > h1:nth-of-type(2){
    font-family: NeueB, Courier, monospace;
}

section:nth-of-type(2) > div > p{
    font-size: 1.4rem;
}