.yeah {
    position: relative;
    height: 100%;
    width: 100vw;
    background: url('../images/blur60.png');
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.top-nav {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 50px 6vw;
    grid-template-columns: 50% 50%;
    align-items: center;
    font-size: 1.2rem;
    z-index: 10;
}

.top-nav>.left {
    justify-self: left;
}

.top-nav>.left>button {
    border: none;
    background: transparent;
    color: white;
    font-weight: 900;
    font-family: NeueB, Courier, monospace;
    margin-right: 20px;
}

.top-nav>.right {
    justify-self: right;
}

.top-nav>.right>img {
    margin-right: 25px;
}

.explore {
    position: absolute;
    top: 69vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px white solid;
    padding: 12px 40px;
    background: transparent;
    color: white;
    /* font-weight: 900; */
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: Neue, Courier, monospace;
    margin-right: 20px;
    pointer-events: all;
}

.liner {
    position: relative;
    height: 100%;
    width: 1px;
    background-color: white;
    opacity: 0.6;
    border: 0.4px solid #FFFFFF;
    box-shadow: 0px 0px 8px #CDF0FF;
}

.block {
    position: absolute;
    height: 60px;
    width: 2px;
    background-color: #fff;
    box-shadow:
        0 0 1px 1px #fff,
        /* inner white */
        0 0 20px 1px #fff,
        /* middle magenta */
        0 0 140px 50px #0ff;
    /* outer cyan */
    left: -1px;
}

.left-block {
    top: 5%;
}

.right-block {
    top: 15%;
}

.yeah>.left-line {
    justify-self: right;
}

.yeah>.right-line {
    justify-self: left;
}

.content-container {
    position: relative;
    display: block;
}

section {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    /* opacity: 0.2; */
    font-family: Neue, Courier, monospace;
}

.yeah h1 {
    font-size: 2.75rem;
    line-height: 3rem;
    margin: 0;
}

.yeah p {
    margin-top: 30px;
    font-size: 1.2rem;
    line-height: 2.1rem;
}

.grey {
    color: #FFFFFF;
    opacity: 0.6;
}

.intro {
    position: relative;
    padding: 120px 15vw 80px 15vw;
    display: grid;
    grid-template-areas: 'a';
    place-items: center;
    justify-items: center;
    height: 90vh;
}

.intro>.middle {
    grid-area: a;
    position: relative;
    align-self: center;
    text-align: center;
}

.intro>.left {
    position: absolute;
    left: 0;
    bottom: 10px;
    transform: translateX(-55%);
}

.intro>.right {
    position: absolute;
    right: 0;
    top: 10px;
    transform: translateX(60%);
    z-index: 1;
}

section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

section:nth-of-type(2)>div {
    display: block;
    width: 90%;
    margin: auto;
    padding: 120px 0;
    text-align: center;
    line-height: 3rem;
}

section:nth-of-type(2)>div>h1:nth-of-type(2) {
    line-height: 4rem;
    font-family: NeueB, Courier, monospace;
}

section:nth-of-type(2)>div>h1:nth-of-type(1) {
    margin-bottom: 10px;
}

section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
    width: 90%;
    height: max-content;
}

section:nth-of-type(3)>h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

@media (max-width: 800px) {
    :root {
        font-size: 13px;
    }

    .yeah {
        grid-template-columns: 2% 96% 2%;
        /* background: url('../images/blur60.png'); */
    }

    .intro>.left, .intro>.right {
        position: relative;
        left: initial;
        bottom: initial;
        top: initial;
        transform: none;
        justify-self: center;
    }

    .intro>.left>img, .intro>.right>img{
        width: 70%;
        display: block;
        margin: 0 auto
    }

    section{
        height: initial;
        /* min-height: 90vh; */
    }

    .intro>.left {
        grid-area: b;
    }

    .intro>.right {
        grid-area: c;
    }

    .intro > .middle{
        padding: 0 10vw;
    }

    .intro {
        padding: 150px 0 0 0;
        grid-template-areas: "a a" "b c";
    }

    section:nth-of-type(2)>div{
        padding: 120px 5vw;
    }

    .top-nav{
        padding: 30px 3vw;
    }

    .top-nav>.left>button{
        margin-right: 10px;
    }

}